.jumbotron {
    height: 10%;
    max-height: 200px;
    background-color: #c7c7c7;
    border-bottom: solid grey;
    padding-top: 2rem;
}

/* Burger img */
img {
    height: auto;
    width: 12%;
    max-width: 190px;
}

body {
    background-color: #a1ca86;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    text-decoration: underline;
}

/* Available burger column */
.options {
    text-align: center;
}

/* Devoured burger column */
.eaten {
    text-align: center;
    font-style: italic;
}

/* Section for the burger lists */
.burger-display {
    min-height: 400px;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px;
    background: #faebd7;
    height: auto;
    min-height: 4rem;
    line-height: 4rem;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    font-size: 20px;
}

/* Devour button on available burgers */
.devour_btn {
    margin-left: 1rem;
}

/* Make a burger section */
.make-burger-col {
    text-align: center;
    border: 3px black solid;
    width: 50%;
    background-color: #cdffac;
    padding: 1rem;
    border-radius: 15px;
}

.make-burger-btn {
    padding: 0.25rem;
    width: 10%;
}

.grill-img {
    width: 100%;
    height: auto;
}